body {
  background-color: cadetblue;
}

.back {
    /* background: #7e4a4a; */
    background-image: linear-gradient(rgba(130, 146, 238, 0.185), rgb(76, 0, 255) , grey);
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
  }
  
  .div-center {
    width: 400px;
    height: 400px;
    background-color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    padding: 1em 2em;
    border-bottom: 2px solid #ccc;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    border-top-color: blue;
    border-bottom-color: darkgreen;
    display: table;
  }
  
  div.content {
    display: table-cell;
    vertical-align: middle;
  }
  small{
    color: red
  }